production:
  subdomain:    campfire_subdomain
  token:        campfire_token
  room:         campfire_roomname
  issues:
    notes:      false
    more_info:  false

development:
  subdomain:    campfire_subdomain
  token:        campfire_token
  room:         campfire_roomname
  issues:
    notes:      false
    more_info:  false